.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content button {
  background-color: white;
  width: 18.1875rem;
  height: 2.25rem;
  margin-top: 0.875rem;
  font-size: 0.75rem;
  text-align: left;
  padding-left: 2.25rem;
  border: 1px;
  border-style: solid;
  border-color: #ebebf0;
  border-radius: 5px;
}

a {
  cursor: pointer;
}

.about-btn {
  cursor: pointer;
}

.about-btn:hover {
  /* cursor: pointer; */
  background: #ebebf0;
}

.content .logout-btn {
  cursor: pointer;
  padding: 0;
  background-color: #da352f;
  height: 2.8125rem;
  border-radius: 1.40625rem;
  text-align: center;
  color: white;
  margin-top: 1.75rem;
  border-style: none;
}

.logout-btn:hover {
  background-color: #d52620;
}
